<div class="center jumbotron">
  <h1>FAMS Tools</h1>
</div>
<div class="container">
  <h3>CV Parser</h3>
    <ol>
      <li>The file input form takes a .txt file with utf8 encoding.  So separate out the parts of the CV you want to parse and save it as a utf8 encoded .txt file</li>
      <li>Use that file as the input where it says 'Publication data file'</li>
      <li>Then simply click 'Create Citation Spreadsheet' (No training data is needed since the updated AnyStyle library that does the parsing is smart enough to not need it)</li>
      <li>Your parsed data can be found below.  It should be the last link under 'Listing of publication listings'</li>
      <li>Click that link and it will take you to the 'Works' page</li>
      <li>Your data will be displayed here but it is not entirely reflective of the final xlsx output</li>
      <li>Click the link at the top to 'Download as xlsx'</li>
    </ol>
  <h3>AI-Integration</h3>
    <p>A work in progress.</p>
</div>
