<h1>Faculty Activity Management Services Tools</h1>
<%= link_to "CV Parser", publication_listings_path, class: 'button alt' %>
<%= link_to "AI-Integration", ai_integration_path, class: 'button alt' %>
