<div class="center jumbotron text-center">
  <h1>FAMS Tools</h1>
</div>
<div class="container">
  <h3>CV Parser</h3>
    <ol>
      <li>Give your Citation Spreadsheet a title in the first form box</li>
      <li>Copy and paste your citations into the second form box</li>
      <li>Then simply click 'Create Citation Spreadsheet'</li>
      <li>Your parsed citations can be found below.  It should be the last link under 'Listing of publication listings'</li>
      <li>Click that link and it will take you to the 'Works' page</li>
      <li>Your data will be displayed here but it is not entirely reflective of the final xlsx output</li>
      <li>Click the link at the top to 'Download as xlsx'</li>
    </ol>
  <h3>AI-Integration</h3>
  <ul>
    <li><h5>Contract/Grant Integration</h5></li>
    <ol>
      <li>Download ai-user (psu-users.xls) information from AI Users and Security Page</li>
      <li>Upload this file to the "Psu-user.xls" form</li>
      <li>Download OSP data in csv format: dmresults.csv</li>
      <li>Convert dmresults.csv to an xlsx file</li>
      <li>Upload this file to the "Osp data file" form</li>
      <li>Download a backup zip from the AI backup resource</li>
      <li>Unzip and open the CONGRANT.csv file</li>
      <li>Format the 'ID' column to a number with 0 decimal places and save the file as a tab-delimited text file</li>
      <li>Upload this file to the "Congrant backup file" form</li>
      <li>Click the button corresponding to your intended environment target to start the integration</li>
    </ol>
    <li><h5>Courses Taught Integration</h5></li>
    <ol>
      <li>Download ai-user (psu-users.xls) information from AI Users and Security Page</li>
      <li>Upload this file to the "Psu-user.xls" form</li>
      <li>Download the latest courses taught information from iTwo</li>
      <li>Open the file and convert the 'Instructor Campus ID' column to a date formatted dd-mmm-yyyy</li>
      <li>Save the file as a tab delimited text file</li>
      <li>Upload this file to the "Courses taught data file" form</li>
      <li>Click the button corresponding to your intended environment target to start the integration</li>
    </ol>
    <li><h5>Publications Integration</h5></li>
    <ol>
      <li>Download ai-user (psu-users.xls) information from AI Users and Security Page</li>
      <li>Upload this file to the "Psu-user.xls" form</li>
      <li>Click the button corresponding to your intended environment target to start the integration</li>
    </ol>
  </ul>

</div>
