<div class="center jumbotron text-center">
  <h1>FAMS Tools</h1>
</div>

<div class="row">
  <h1>Usage</h1>
</div>
<hr/>

<div class="container">
  <h3>CV Parser</h3>
    <ol>
      <li>Give your Citation Spreadsheet a title in the first form box</li>
      <li>Enter the CV owner's access id (not full email) in the next box</li>
      <li>Select from the drop-down the type of publication/presentation you are parsing</li>
      <li>Copy and paste your citations into the final form box</li>
      <li>Then simply click 'Create Citation Spreadsheet'</li>
      <li>Your parsed citations an now be found below the CV parser in the last link under 'Listing of publication listings'</li>
      <li>Click that link and it will take you to the 'Works' page</li>
      <li>Your data will be displayed in a table here where it can be modified and updated (This is the raw data that comes straight from the AnyStyle parser)</li>
      <li>Note that the original citations are displayed for each work</li>
      <li>The headers for the table do not reflect the final output.  These headers reflect the fields the AnyStyle parser seperates the data into</li>
      <li>You can add authors or editors by clicking the 'Add Author' or 'Add Editor' links.  You can delete authors or editors by clicking the 'X' next to their name</li>
      <li>When done editing the data, click the 'Update Works' button at the bottom of the screen to store the changes in the database</li>
      <li>Click the links at the top to 'Download as xlsx' or 'Download as csv'</li>
    </ol>
  <h3>AI-Integration</h3>
  <p>To begin running integrations, click the "Integration" tab in the nav bar above. You will then need to select an integration type from the dropdown and follow the directions below.</p>
  <ul>
    <li><h5>Contract/Grant Integration</h5></li>
    <ol>
      <strong class="text-danger">This integration is fully automated.  It runs at 01:00 every Monday.</br>
      To run this integration with the GUI:</strong>
      </br>
      </br>
      <li>Download OSP data from: <a href="https://service.sims.psu.edu/digitalmeasures/dmresults.csv">dmresults.csv</a></li>
      <li>From the integration screen, upload this file where it says "Osp data file"</li>
      <li>Download a backups .zip from the <a href="https://webservices.digitalmeasures.com/login/service/v4/SchemaData:backup/INDIVIDUAL-ACTIVITIES-University">AI backup resource</a></li>
      <li>Unzip the downloaded file and find the CONGRANT.csv file within</li>
      <li>From the integration screen, upload this file where it says "Congrant backup file"</li>
      <li>Enter the passcode and click the button corresponding to the target environment you wish to integrate with</li>
    </ol>
    <li><h5>Courses Taught Integration</h5></li>
    <ol>
      <strong class="text-danger">This integration is fully automated.  It runs at 00:00 on July 1st, October 1st, and February 1st.</br>
      To run this integration with the GUI:</strong>
      </br>
      </br>
      <strong>Pulling file from LionPATH file server:</strong>
      <ul>
      <li>Use `sftp` to download the latest Courses Taught file from the Lionpath server to the Rubytools server</li>
      <li>Use `scp` to copy this file from the Rubytools server to a local machine</li>
      </ul>
      <strong>Pulling file from iTwo:</strong>
      <ul>
      <li>Pull data from iTwo as CSV and change the "Instruction Mode" header to "Instructor Mode"</li>
      </ul>
      <strong>Then:</strong>
      </br>
      </br>
      <li>From the integration screen, upload this file where it says "Courses taught data file"</li>
      <li>Enter the passcode and click the button corresponding to the target environment you wish to integrate with</li>
    </ol>
    <li><h5>Yearly Data Integration</h5></li>
    <ol>
      <li>Download yearly data from Activity Insight using the Create a New Report option, then Export Data</li>
      <li>If the file is not already an xlsx, convert to xlsx.</li>
      <li>From the integration screen, upload this file where it says "Yearly Data File"</li>
      <li>Enter the passcode and click the button corresponding to the target environment you wish to integrate with</li>
    </ol>
    <li><h5>Publications Integration</h5></li>
    <ol>
      <li>This will gather data from the Metadata Database through its API.  No file is required</li>
      <li>Enter the passcode and click the button corresponding to the target environment you wish to integrate with</li>
    </ol>
    <li><h5>Personal & Contact Info Integration</h5></li>
    <ol>
      <li>This will gather data from LDAP through its API.  No file is required</li>
      <li>Enter the passcode and click the button corresponding to the target environment you wish to integrate with</li>
    </ol>
    <li><h5>Delete Records</h5></li>
    <ol>
      <li>This uses Digital Measures' delete resource to delete records</li>
      <li>It takes a csv with a single column 'ID' that contains all of the ID #s of the records you would like to delete</li>
      <li>It should look something like this:<img src="delete-headers.png" alt="headers example"></li>
      <li>Any other columns will be ignored</li>
      <li>From the integration screen, upload this file where it says "Ids to delete file"</li>
      <li>Enter the passcode and click the button corresponding to the target environment you wish to integrate with</li>
    </ol>
  </ul>
  </br>
</div>
