<div class="col-sm">
  <%= form_with :url => { :action => "analyze" }, id: "post_print_analyzer" do |form| %>
    <p>
      <%= label(:post_print_file, text = "Post Prints CSV") %>
      <%= form.file_field :post_print_file,
                          required: true,
                          accept: 'text/csv'%>
    </p>
    <div class="row">
      <%= form.button "Analyze",
                      class:"btn btn-primary",
                      type: :submit,
                      :data => {
                          disable_with: "<i class='fa fa-spinner fa-pulse'></i> Analyzing...",
                          :confirm => "Are you sure you want to analyze these post prints?  This may take a while."
                      }%>
    </div>
  <% end %>
</div>
