# Example environment variables for FAMS Tools
# Copy this file to .envrc and replace with actual values

export ETDA_API_URL="http://localhost:3000"
export ETDA_API_TOKEN="generate_a_token_in_ETDA_console"
export FAMS_WEBSERVICES_USERNAME
export FAMS_WEBSERVICES_PASSWORD
export FAMS_MAIN_USERNAME
export FAMS_MAIN_PASSWORD
export FAMS_BACKUPS_SERVICE_USERNAME
export FAMS_BACKUPS_SERVICE_PASSWORD
export FAMS_METADATA_DB_KEY
export FAMS_S3_BUCKET_API_KEY
export FAMS_LP_SFTP_USERNAME
export FAMS_LP_SFTP_HOST
export CENTRAL_LDAP_HOST
export CENTRAL_LDAP_PORT