# ETDA Main Endpoint
ETDA_API_URL=https://submit-etda-main.uldev.k8s.libraries.psu.edu/
ETDA_API_TOKEN=your_etda_api_token_here

# ETDA Honors Endpoint
HONORS_API_URL=https://submit-honors-main.uldev.k8s.libraries.psu.edu/
HONORS_API_TOKEN=your_honors_api_token_here

# ETDA Millennium Scholars Endpoint
MILLENNIUM_SCHOLARS_API_URL=https://submit-millennium-scholars-main.uldev.k8s.libraries.psu.edu/
MILLENNIUM_SCHOLARS_API_TOKEN=your_millennium_scholars_api_token_here

# ETDA SSET Endpoint
SSET_API_URL=https://submit-sset-main.uldev.k8s.libraries.psu.edu/
SSET_API_TOKEN=your_sset_api_token_here
