# Example environment variables for FAMS Tools
# Copy this file to .envrc and replace with actual values

export GRADUATE_API_URL="http://localhost:3000"
export GRADUATE_API_TOKEN=""
export HONORS_API_URL="http://localhost:3001"
export HONORS_API_TOKEN=""
export MILLENNIUM_SCHOLARS_API_URL="http://localhost:3002"
export MILLENNIUM_SCHOLARS_API_TOKEN=""
export SSET_API_URL="http://localhost:3003"
export SSET_API_TOKEN=""


export FAMS_WEBSERVICES_USERNAME
export FAMS_WEBSERVICES_PASSWORD
export FAMS_MAIN_USERNAME
export FAMS_MAIN_PASSWORD
export FAMS_BACKUPS_SERVICE_USERNAME
export FAMS_BACKUPS_SERVICE_PASSWORD
export FAMS_METADATA_DB_KEY
export FAMS_S3_BUCKET_API_KEY
export FAMS_LP_SFTP_USERNAME
export FAMS_LP_SFTP_HOST
export CENTRAL_LDAP_HOST
export CENTRAL_LDAP_PORT