<h1>Publication Listing</h1>
<table>
  <tr>
    <th>author</th>
    <th>title</th>
    <th>journal</th>
    <th>volume</th>
    <th>edition</th>
    <th>pages</th>
    <th>date</th>
    <th>booktitle</th>
    <th>container</th>
    <th>doi</th>
    <th>editor</th>
    <th>institution</th>
    <th>isbn</th>
    <th>location</th>
    <th>note</th>
    <th>publisher</th>
    <th>retrievedtech</th>
    <th>translator</th>
    <th>unknown</th>
    <th>url</th>
  </tr>
  <% @citations.each_with_index do |item, index| %>
  <tr>
    <td> item[:author]</td>
    <td>        item[:title]</td>
    <td>        item[:journal]</td>
    <td>        item[:volume]</td>
    <td>        item[:edition]</td>
    <td>        item[:pages]</td>
    <td>        item[:date]</td>
    <td>        item[:booktitle]</td>
    <td>        item[:container]</td>
    <td>        item[:doi]</td>
    <td>        item[:editor]</td>
    <td>        item[:institution]</td>
    <td>        item[:isbn]</td>
    <td>        item[:location]</td>
    <td>        item[:note]</td>
    <td>        item[:publisher]</td>
    <td>        item[:retrieved]</td>
    <td>        item[:tech]</td>
    <td>        item[:translator]</td>
    <td>        item[:unknown]</td>
    <td>        item[:url]</td>
  </tr>
  <% end %>
</table>
