<div class="center jumbotron text-center">
  <h1>AI Backups</h1>
</div>

<% if flash[:error]%>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>

<div class="content-container">
  <% @filenames.each do |filename| %>
    <p><%= link_to filename.to_s, "psu/#{filename}", download: filename.to_s, target: '_blank' %></p>
  <% end %>
</div>