<div class="row nested-fields names-field">
  <%= f.text_field :f_name, size: "7x1" %><%= f.text_field :m_name, size: "2x1" %><%= f.text_field :l_name, size: "7x1" %>
  <%= link_to_remove_association "<i class='fa remove-nested fa-close'></i>".html_safe, f %>
</div>