<% if Integration.running? %>
  <div><p class="text-primary small"><i class='fa fa-spinner fa-pulse'></i>  <strong>An integration is currently in progress.</strong>  Integrations are disabled during this time...</p></div>
<% else %>
  <div class="col-xs-1" , style="padding:5px 5px;" xmlns="http://www.w3.org/1999/html">
    <p> <%= form.button "Beta".html_safe, class:"btn btn-primary", type: :submit, name: "target", value: :beta,
                        :data => { disable_with: "<i class='fa fa-spinner fa-pulse'></i> Integrating...", :confirm => "Are you sure you want to integrate into beta?"}  %></p>
  </div>
  <div class="col-xs-1", style="padding:5px 5px;">
    <p> <%= form.button "Production".html_safe, class:"btn btn-primary", type: :submit, name: "target", value: :production,
                        :data => { disable_with: "<i class='fa fa-spinner fa-pulse'></i> Integrating...", :confirm => "Are you sure you want to integrate into production?" } %> </p>
  </div>
  <div class="col-xs-1", style="padding:5px 5px;">
    <p> <%= form.password_field :passcode %> </p>
  </div>
<% end %>