<div class="col-sm">
  <%= form_with :url => { :action => "ldap_integrate" }, id: "personal_contacts" do |form| %>
    <div class="row">
      <%= render 'buttons_and_code', form: form %>
    </div>
  <% end %>
</div>
<div class="col-sm">
  <h4>Personal & Contact Info Integration Errors:</h4>
  <br/>
  <%= render 'file_download_button', log_path: @ldap_log_path %>
</div>