<div class="col-sm">
  <%= form_with :url => { :action => "ldap_integrate" }, id: "personal_contacts" do |form| %>
    <div class="row">
      <%= render 'buttons_and_code', form: form %>
    </div>
  <% end %>
</div>
<div class="col-sm" style="font-size: 12px; overflow: auto; width:300px; height:200px; border-style: inset;">
  <% if flash[:per_cont_errors] %>
    <% flash[:per_cont_errors].each do |error| %>
      <p> <%= error %> </p>
    <% end %>
  <% end %>
</div>