<h1>PublicationListings#index</h1>
<p>Find me in app/views/publication_listings/index.html.erb</p>
<% @publication_listings.each do |pl| %>
  <%= link_to  pl.path, publication_listing_works_url(pl) %><br>
<% end %>
